.logo-container {
    display: flex;
    align-items: center;
}

div#myCartDropdown1 {
    position: absolute;
    top: 65px;
    right: 0;
}

div#myProfileDropdown1 {
    position: absolute;
    top: 65px;
    right: 0;
}