<app-navbar></app-navbar>
<div class="container gap-8">
  <app-sign-in></app-sign-in>
<app-carousel class="w-full"></app-carousel>
<div class="category-container">
  <p class="p-2 text-lg text-black dark:text-gray-100">Category</p>
  <app-categories class="flex flex-wrap justify-around gap-6 w-full"></app-categories>
</div>
<div class="flex-1 sm:w-full ">
  <p class="p-2 text-lg text-black dark:text-gray-100">Apple Watches</p>
  <app-top-slider class="flex flex-nowrap overflow-x-auto hide-scrollbar no-scrollbar justify-around flex-1 sm:w-full gap-8 sm:gap-1">
</app-top-slider>
</div>
<router-outlet>

<div class="text-center p-6 bg-blue-500 text-white dark:bg-gray-900 dark:text-gray-100">
  <h1 class="text-4xl font-bold">Welcome to Angular with Tailwind CSS!</h1>
  <p class="mt-4 text-lg">Tailwind Dark Mode is working perfectly.</p>
</div>
<app-sign-up></app-sign-up>
<app-footer></app-footer>
