/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body.dark {
    background-color: #111827;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 8px; 
}

::-webkit-scrollbar-track {
background: rgb(31 41 55 ) 
}

::-webkit-scrollbar-thumb {
background: #111827; 
}

::-webkit-scrollbar-thumb:hover {
background: #555; 
}
  